.services-area{
	.single-services{
		&:after{
			background:rgba(0, 0, 0, 0.6);
			border:5px solid #fff;
		}
		&.services1{
			&:after{
				border-right: none;
			}
		}
		&.services2{
			&:after{
				margin:0 0 -3px;
			}
		}
		&.services3{
			&:after{
				border-left: none;
			}
		}
		figure{
			overflow: hidden;
			img{
				width: 100%;
				transition: $transition;
				transform: scale(1,1);
			}
			.services-content{
				position: absolute;
				bottom: 30px;
				left: 50px;
				z-index: 999;
				h2{
					text-transform: uppercase;
					margin: 0;
					color: #fff;
					font-family: $title-font;
					font-weight: 500;
				}
				p{
					margin: 0;
					padding: 0 0 15px;
					border-bottom: 4px solid rgba(255, 255, 255, 0.3);
					color: #fff;
					font-size: 18px;
					letter-spacing: 3px;
					font-family: $title-font;
					font-weight: 400;
				}
			}
		}
		&:hover{
			figure{
				img{
					transform: scale(1.1,1.1);
				}
			}
		}
	}
}