.footer-one{
	.footer-bottom{
		padding: 30px 0;
		background: #1a1a1a;
		.copyright{
			p{
				margin: 0;
				color: #6f6f6f;
				a{
					color: #c4c4c4;
				}
			}
		}
		.pay-option{
			img{

			}
		}
	}
}
.footer-two{
	.footer-bottom{
		padding: 30px 0;
		background: #1a1a1a;
		.copyright{
			p{
				margin: 0;
				color: #6f6f6f;
				a{
					color: #c4c4c4;
				}
			}
		}
		.pay-option{
			img{

			}
		}
	}
}